<nav class="navbar navbar-dark bg-dark">
<%= link_to 'TestGuru', root_path, class: 'navbar-brand', style: 'color: dark' %>

  <span class="navbar-text">
    <%= t('.header') %>, Администратор: <%= current_user.first_name %> |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class: "badge badge-info" %>
  </span>
</nav>
