<div class='footer'>
  <p>Год: <%= current_year %></p>
  <p>Автор: Олег Качанов. Больше информации на <%= github_url('ovkachanov', 'TestGuru') %> </p>
  <p>Учебный проект от <a href="http://www.thinknetica.com/">thinknetica</a></p>
</div>
