html {
  position: relative;
  min-height: 90%;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.success {
  color: green;
}

.alert {
  color: red;
}

h2.success-rate {
  color: green;
}

h2.unsuccess-rate {
  color: red;
}
