<div class='footer'>
  <h3><%= current_year %></h3>
  <h3>Автор - Олег Качанов. Больше информации на <%= github_url('ovkachanov', 'TestGuru') %> </h3>
  <h3>Учебный проект от <a href="http://www.thinknetica.com/">thinknetica</a></h3>
</div>
